Incorrect type used for zone serial number.

The Serial field of the Zone struct is set to the incorrect type (int32, while it should be uint32).

According to [RFC1035 section 3.3.13](https://tools.ietf.org/html/rfc1035#section-3.3.13) the serial number of a SOA resource record is a 32 bit unsigned integer.

This causes the following error when the serial number is larger than 2^31-1:
```
json: cannot unmarshal number 3531147737 into Go struct field Zone.serial of type int32
```

Thank for finding and filing this bug. I've looked into it briefly and at first glance it appears that the fix for this is tricky, because the swagger spec (from which this library is generated - https://github.com/PowerDNS/pdns/blob/master/docs/http-api/swagger/authoritative-api-swagger.yaml) does not support the uint family of datatypes (https://swagger.io/docs/specification/data-models/data-types/). I'll try digging in a bit more to see if there's a work around. 

Wouldn't it be possible to use the minimum and maximum keywords to limit it from `0` to `2^32-1`? 
The content of the swagger definition would then look like this:
```
serial:
  type: integer
  format: int64
  minimum: 0
  maximum: 4294967295
  description: 'The SOA serial number'
notified_serial:
  type: integer
  format: int64
  minimum: 0
  maximum: 4294967295
  description: 'The SOA serial notifications have been sent out for'
```

we're also hitting this in production unfortunately :(

```
time="2018-11-19T21:45:39Z" level=debug msg="Unable to fetch zones json: cannot unmarshal number 4242695984 into Go struct field Zone.serial of type int32"
time="2018-11-19T21:45:39Z" level=debug msg="Retrying ListZones() ... 0"
time="2018-11-19T21:45:39Z" level=debug msg="Unable to fetch zones json: cannot unmarshal number 4242695984 into Go struct field Zone.serial of type int32"
time="2018-11-19T21:45:39Z" level=debug msg="Retrying ListZones() ... 1"
time="2018-11-19T21:45:40Z" level=debug msg="Unable to fetch zones json: cannot unmarshal number 4242695984 into Go struct field Zone.serial of type int32"
time="2018-11-19T21:45:40Z" level=debug msg="Retrying ListZones() ... 2"
time="2018-11-19T21:45:41Z" level=error msg="Unable to fetch zones. json: cannot unmarshal number 4242695984 into Go struct field Zone.serial of type int32"
time="2018-11-19T21:45:41Z" level=error msg="json: cannot unmarshal number 4242695984 into Go struct field Zone.serial of type int32"
```